{#
/**
 * @file
 * 我的订单详情
 *
 *  Available variables:
 *   -detail
 *   -summary
 */
#}

<div class="order-detail">
  <div class='title'><b>{{'Order summary'|t}}</b></div>
  <div class="blank20"></div>
  <table class='base-info'>
    <tr>
      <td class='name length'>{{ 'Name'|t }}：</td>
      <td class='value'>{{ summary.client }}</td>
      <td class='name'>{{ 'Contact person'|t }}：</td>
      <td class='value'>{{ summary.contact }}</td>
      <td class='name'>{{ 'Phone'|t }}：</td>
      <td class='value'>{{ summary.phone }}</td>
    </tr>
    <tr class='beij'>
      <td class='name'>{{ 'Order time'|t }}：</td>
      <td class='value'>{{ summary.created }}</td>
      <td class='name'>{{ 'Order Amount'|t }}：</td>
      <td class='value'>￥{{ summary.price }}</td>
      <td class='name'>{{ 'Order Status'|t }}：</td>
      <td class='value'>{{ summary.status }}</td>
    </tr>
  </table>
  <div class='title'><b>{{'Product info'|t}}</b></div>
  <div class="blank20"></div>
  <table class='product-info'>
    <tr class='header'>
      <th>{{ 'Product'|t }}</th>
      <th>{{ 'Room'|t }}</th>
      <th>{{ 'Product detail'|t }}</th>
      <th>{{ 'Unit price'|t }}</th>
      <th>{{ 'Number'|t }}</th>
      <th>{{ 'Limit'|t }}</th>
      <th>{{ 'Total price'|t }}</th>
    </tr>
    {% set i=1 %}
    {% for product in detail %}
      <tr>
        <td>{{ product.product_name}}</td>
        <td>{{ product.product_room}}</td>
        <td class='business'>
          <ul>
            {% for business in product.business %}
              <li>{{ business.name }} : {{ business.value }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>￥{{ product.base_price + product.custom_price }}</td>
        <td>{{ product.product_num }}</td>
        {% if product.action == 3 %}
         <td>{{ product.product_limit }} {{'days'|t}}</td>
        {% else %}
        <td>{{product.product_limit}} {{'month'|t}}</td>
        {% endif %}
        <td>￥{{ product.total_price}}</td>
      </tr>
      {% set i=i+1 %}
    {% endfor %}
  </table>
</div>
