{#
/**
 * @file
 * 我的订单
 *
 *  Available variables:
 * -orders:
 */
#}
<div>
  {% set i = 1%}
  <table>
    <tr>
      <td colspan=4>{{ 'Order id'|t }}&nbsp;&nbsp;:&nbsp;&nbsp;{{ order.code.value }}</td>
    </tr>
    {% if order.alias_order.value != '' %}
      <tr>
        <td colspan=4>{{ 'Order title'|t }}&nbsp;&nbsp;:&nbsp;&nbsp;{{ order.alias_order.value }}</td>
      </tr>
    {% endif %}
    {% for product in order.products%}
      <tr>
        <td>{{ product.product_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'Order Quantity'|t }}：{{ product.product_num }}</td>
        {% if(i == 1) %}
        <td rowspan='{{ order.product_count }}'>{{ 'Formal order'|t }}：<b>{{ order.status_title}}</b> <br> {{ 'Created'|t }}：{{ order.create_formate }}</td>
          <td rowspan='{{ order.product_count }}'>
            {{ 'Service period'|t }}：Month <br>{{ 'Total price'|t }}：￥ {{ order.order_price.value - order.discount_price.value }}</td>
          <td rowspan='{{ order.product_count }}'>{{ order.payURL }}&nbsp;&nbsp;&nbsp;&nbsp;{{ order.cancelURL }}&nbsp;&nbsp;&nbsp;&nbsp;{{ order.detailURL }}</td>
        {% endif %}
      </tr>
      {% set i = 2%}
    {% endfor %}
  </table>
</div>
