<div class="pic_01"><img src="{{ base_path }}/{{ directory }}/images/pic_01.png"></div>
<div class="container foot-host">
  <div class="blank30"></div>
  <div class="state_item">
    <ul>
      <li>
        <dl>
          <a href="#">我们的产品</a>
        </dl>
        <dt><i class="11"></i><a href="{{ base_path }}/server">服务器租用 </a></dt>
      </li>
      <li>
        <dl>
          <a href="{{ base_path }}/node/1">解决方案</a>
        </dl>
        <dt><i class="11"></i><a href="{{ base_path }}/node/3">网络速度 </a></dt>
        <dt><i class="11"></i><a href="{{ base_path }}/node/4">网络防御</a></dt>
      </li>
      <li>
        <dl>
          <a href="{{ base_path }}/node/2">代理加盟</a>
        </dl>
        <dt><i class="11"></i><a href="{{ base_path }}/node/2">加盟方式</a></dt>
      </li>
      <li>
        <dl>
          <a href="{{ base_path }}/node/5">关于我们</a>
        </dl>
        <dt><i class="11"></i><a href="{{ base_path }}/node/5">公司介绍 </a></dt>
        <dt><i class="11"></i><a href="#">联系我们</a></dt>
        <dt><i class="11"></i><a href="#">在线客服</a></dt>
      </li>
      <li>
        <dl>
          <a href="#">客户服务 </a>
        </dl>
        <dt><i class="11"></i><a href="{{ base_path }}/node/6">条款协议 </a></dt>
        <dt><i class="11"></i><a href="{{ base_path }}/node/7">帮助中心</a></dt>
        <dt><i class="11"></i><a href="{{ base_path }}/node/8">售后问题</a></dt>
      </li>
    </ul>
  </div>
  <div class="blank30"></div>
</div>
