{#
/*
 * Available variables:
 * - form: The confirm form.
 */
#}
{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}

<div class = 'custom-business-edit'>
 {{form.edit_block}}
</div>

<div class= 'custom-business-show'>
 {{form.show_block}}
 <div class = 'add-cart'>{{form.submit}}</div>
</div>

