{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        {{ form.mips }}
      </div>
      <div class="col-xs-4">
        {{ form.sop_type }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        {{ form.client_uid }}
      </div>
      <div class="col-xs-4">
        {{ form.os }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ form.description }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    {{ form.actions }}
  </div>
</div>
