<!-- begin #page-container -->
<div id="page-container" class="fade">
  <div class="user-register-content">
    {{form.form_build_id}}
    {{form.form_token}}
    {{form.form_id}}

    {{ form.account }}
    {{ form.information }}
    {{ form.actions }}
  </div>
</div>
