{#
/**
 * @file
 *  员工信息详情 
 * 
 *  Available variables:
 *   -employee
 */
#}
<div>
  <ul>
    <li><b>{{ 'Account'|t }} : </b><span>{{ employee.username }}</span></li>
    <li><b>{{ 'Full name'|t }} : </b><span>{{ employee.employee_name }}</span></li>
    <li><b>{{ 'Department'|t }} : </b><span>{{ employee.dept }}</span></li>
    <li><b>{{ 'Position'|t }} : </b><span>{{ employee.position }}</span></li>
    <li><b>{{ 'Address'|t }} : </b><span>{{ employee.address }}</span></li>
    <li><b>{{ 'Phone'|t }} : </b><span>{{ employee.telephone }}</span></li>
    <li><b>{{ 'QQ'|t }} : </b><span>{{ employee.qq }}</span></li>
  <ul>
<div>
