{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}

<div class="pwd_modify">
  <div class="Order_title"><b class="jiben_title">{{ 'Modify pwssword'|t }}</b>
 </div>
 <div class="blank20"></div>
  <div class="pwd_div">
    {{ form.account.pass }}
    {{ form.save }}
  </div>
</div>
