{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
<div class="row">
    <div class="col-xs-2">
      <h3>{{form.charge}}</h3>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-8">
        {{form.user}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        {{form.num}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        {{form.method}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        {{ form.actions }}
      </div>
    </div>
  </div>
</div>

