<!-- begin #page-container -->
<div id="page-container" class="fade">
  <div class="login-content">
    {{ form }}
    <div class="m-t-20">
      {{ 'Not a member yet? Click'|t }} <a href="{{ path('<front>') }}/account/register">{{ 'here' |t }}</a> {{ 'to register. Forget ? Click'|t }} <a href="{{ path('<front>') }}/accout/password">{{ 'here' |t }}</a>
    </div>
  </div>
</div>
